.container{
	width: 500px;
	min-height: 100px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	border:solid 1px #e2e2e2;
	border-top: none;
	z-index: 2;
	padding-top: 20px;
	position: relative;
	animation: createBox 0.3s;
}

.container >p{
	margin:20px;
	cursor: pointer;
}

.clearContainer{
	width: 100%;
	position: relative;
}
.clear{
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
.clear >p{
	right: 0px;
	width: 70px;
	height: 40px;
	background-color: #d84f4f;
	border-radius: 5px;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0px;
	cursor: pointer;

}

@media screen and (max-width: 600px) {

	.container{
		width: 80vw;
	}

}


@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
