.container{
	width: 90vw;
	height: 90vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vh 5vw 10vh 5vw;
	top:0px;
	z-index: 10;

}
.backdrop{
	width: 90vw;
	height: 90vh;
	background-color: black;
	z-index: 4;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
	padding: 5vh 5vw 10vh 5vw;
	top:0px;
}
.image{
	height: 100%;
	border-radius: 10px;
	z-index: 12;
	animation: createBox 1s;

}

@media screen and (max-width: 600px) {

	.image {
		height: auto;
		width: 100%;

	}

}


@keyframes createBox {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
